.main{
    font-family: 'Roboto', sans-serif
}
.schoolInfo {
    padding: 20px;
    margin: 40px;
}

.schoolName {
    font-weight: bolder;
    font-size: x-large;
}

.schoolAlias{
    font-weight: 500;
    font-size: medium;
}

.schoolLink{
    font-size: small;
    color: #3f51b5;
    text-decoration: none;
}
