.main{
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
}
.schoolInfo {
    padding: 20px;
    margin: 40px;
    border: 1px;
    border-color: #b2b9e1;
    border-style: solid;
    border-radius: 5px;
    background-color: #d8dcf0;
    color: #7885cb;
    -webkit-box-shadow: 19px 17px 9px -14px rgba(120,133,203,1);
    -moz-box-shadow: 19px 17px 9px -14px rgba(120,133,203,1);
    box-shadow: 19px 17px 9px -14px rgba(120,133,203,1);
}

.schoolName {
    font-weight: bolder;
    font-size: x-large;
    padding: 0px;
    color: #324090;
}

.schoolAlias{
    font-weight: 500;
    font-size: medium;
}

.location{
    font-size: small;
    font-weight: bolder;
}

.aboutSchool{
    font-size: small;
}
.schoolLink{
    font-size: small;
    color:white;
    text-decoration: none;
    padding: 0;
}